extends layout.pug

block content
  .col-lg-9.col-md-9
    p.text-muted Здесь вы можете просматривать любимые фильмы в компании друзей, одновременно общаясь в текстовом или видеочате 
    h3 Общие каналы
    table.table.table-bordered.table-striped
      thead
        th Канал
        th # Пользователей
        th Сейчас проигрывается
      tbody
        each chan in channels
          tr
            td: a(href=`/${channelPath}/${chan.name}`) #{chan.pagetitle} (#{chan.name})
            td= chan.usercount
            td= chan.mediatitle
  .col-lg-3.col-md-3
    h3 Войти в канал
    input#channelname.form-control(type="text", placeholder="Channel Name")
    p.text-muted Вы можете зарегистрировать свой канал на странице <a href="/account/channels">My Channels</a>.

append footer
  script(type="text/javascript").
    $("#channelname").keydown(function (ev) {
      if (ev.keyCode === 13) {
        location.href = "/#{channelPath}/" + $("#channelname").val();
      }
    });
